/*CSS SYNTAX*/
/*A CSS relue-set consist of a selector and a declaration block*/

/*Selector determins which element will the styling be applied to*/

/*Type Selector - targets element with the specified type or tag name*/
h1 {
	/*Declaration block */
	/*color - property ( The selected styling attribute to be modified in a given selector)	*/
	/*yellow - value ( The modified value of the selected styling attribute)	*/
	color: yellow; 
	text-align: center;
	font-size: 2rem;
}

h2	{
	font-size: 1.5rem;
}
body {
	background-color: lightskyblue;
}

nav {
	background-color: white;
}

/*selector psuedo class*/
a:hover {
  background-color: lightseagreen;
}

div {

	display: inline-block;
	float: right;
}

section {
	height: 100vh;
	text-align: center;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: whitesmoke;
	border: 2px solid  black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}


button	{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 10px;
}
/*Universal Selector (lowest priority)- targets all the elements*/
/* asterisk targets all the elements */
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector (highest priority)*/
#zuitt-motto {
	letter-spacing: 5px;
}

h3, h2 {
	letter-spacing: 25px !important;
}

/*Class selector - targets element according to its class attributes*/
.offering-item {
	text-transform: uppercase;
}

/*Attribute Selector - targets with a specified element attribute; used to target elements with certain attribute*/
/*tagname[attribute]*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;

}

/*!important - override the priority according according to location and selector type*/

/*Specificity Rule*/

/*
The following order prioritizes styles from highest to lowest priority (according to selector)
1. ID Selector
2. Class Selector
3. Attribute Selector
4. Type Selectore
5. Universal Selector
*/

/*Specificity Rule*/

/*
The following order prioritizes styles from highest to lowest priority (according to location)
1. Inline Styling
2. Internal Styling
3. External Styling
*/


/*CSS Combinators*/

/*Adjacent Sibling Selector (+) - targets the element immediately following another element, which must beits sibling and located right after it in the HTML Structure- */
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector (whitespace) - example ol and ul - targets any element that is a descendant of another element*/
/*selector selector*/

#bootcamp-learning-list li {
	color: blueviolet;

}

/*General Sibling Selector (~) - targets all element that follow another element and share the same parent*/

h2 ~ a, a {
	text-decoration: none;
}

/*child selector (>) - targets all elements that are the children of a specified element*/
/*selector>selector*/
body > section > form > label {
	color: rgb(0, 128, 0);
}