* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.nav-logo {
	display: inline;
	padding-top: 2rem;
	padding-bottom: 0rem;

}

nav {
	position: sticky;
	margin-left: 10vw;
	margin-right: 40vw;
}

.nav {
	display: inline;
	padding: 2rem;
	margin-top: 30vw;
	text-align: right;

}



.tuitt-button {
	color: white;
	font-weight:bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: .8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-width:0px ;
}
.apply-button {
	color: white;
	font-weight:bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: .8srem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-width:0px ;
	/*margin-top: 2rem;
	margin-left: 15vw;*/
	float: right;
}


#bg-image {
	height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: static;
	
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 50vh;
	margin-top: 10vh ;
}

.title {
	color: white;
	font-size: 2rem;
	line-height: 3rem;
	text-align: right;
	font-family: 'Zilla Slab';

}

.container {
	text-align: justify left;
	padding-bottom: 2rem;
	padding-left: 65vw;
	padding-right: 10vw;
}

.subtitle {
	color: white;
	font-size: 1rem;
	line-height: 2rem;
	
}

.intro {
	text-align: justify-all;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 10rem;
	padding-right: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
}

.intro-description {
	text-align: justify;
}

.title-2 {
	font-family: 'Zilla Slab';
	text-align:center;
	margin-bottom: 2rem;

}

.pre-footer {
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 10rem;
	padding-right: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
	background-color: #f7fbfb;
}

.prefooter-description {
	text-align: justify;
}

.book-button {
	text-align: center;
	color: white;
	font-weight:bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: .8srem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-width:0px ;
	margin-top: 2rem;

}

footer {

	margin-top: .3rem;
	margin-bottom: .3rem;
	vertical-align: top;
	text-align: center;

