#external {
	color:yellow ; 
}

* {
	font-family:"corbel", monospace;
	font-size: 18px;
}

h1{
	font-size: 35px;
}

#bootcamp {
	text-transform: uppercase;
}

.languages {
	background-color: green;
}

li[align] {
	border: 2px solid;
}

img + ul {
	list-style-type: square;
}


section img	{
	border-radius: 250px;
}

img ~ p {
	text-align: center;
	color: black;
}

body > section > ul > li {
	letter-spacing: 3px;
}
